{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
    <link rel="stylesheet" href="{% static 'Css/UserSign-in.css' %}">
</head>
<body>
    <div class="form">
        <img src="{% static 'images/UserLogo.png' %}" alt="chef">
        
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}

        <form id="loginForm" method="post" action="{% url 'user_signin' %}">
            {% csrf_token %}
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required><br>

            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" required><br>

            <input type="submit" value="Login">
        </form>

        <div>
            Do Not Have An Account? <a href="{% url 'user_signup' %}">Sign-Up</a>
        </div>
    </div>

    <script src="{% static 'User/Js/UserSign-in.js' %}"></script>
</body>
</html>
