{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorites</title>
    <link rel="stylesheet" href="{% static 'Css/UserDashboard.css' %}">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <img src="{% static 'images/image.jpg' %}" alt="RecipeHub Logo">
            </div>
            <nav>
                <a id="Home" href="{% url 'user_dashboard' %}"">HOME</a>
                
                <label for="category-filter">Filter by Category:</label>
                <select id="category-filter">
                    <option value="All">All</option>
                    <option value="Main Course">Main Course</option>
                    <option value="Appetizers">Appetizers</option>
                    <option value="Desserts">Desserts</option>
                </select>

                <a id="fav" href="#">FAVOURITES</a>

                <div class="search-container">
                    <input class="inputsearch" type="text" placeholder="search recipes">
                    <button class="search">
                        <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <circle cx="11" cy="11" r="8"></circle>
                            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                        </svg>
                    </button>
                </div>
                <button class="sign-out">Sign Out</button>
            </nav>
        </div>
    </header>

    <main id="main-container">
        <div class="title-bar">
            <div class="title-container">
                <div class="line"></div>
                <h2>Favorite Recipes</h2>
                <div class="line"></div>
            </div>
        </div>

        <ul id="favorite-list"></ul>
    </main>

    <script src="{% static 'Js/Favorites.js' %}"></script>
</body>
</html>
