{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>User Sign-up</title>
    <link rel="stylesheet" href="{% static 'Css/UserSign-up.css' %}">
</head>
<body>
    <div class="form">
        <img src="{% static 'images/UserLogo.png' %}" alt="Chef Master" />
        <form id="signupForm" method="post" action="{% url 'user_signup' %}">
            {% csrf_token %}
            <label for="username">Username</label><br>
            <input type="text" id="username" name="username" required><br>

            <label for="password">Password</label><br>
            <input type="password" id="password" name="password" required><br>

            <label for="confirmed_pass">Confirm Password</label><br>
            <input type="password" id="confirmed_pass" name="confirmed_pass" required><br>

            <label for="email">Email</label><br>
            <input type="email" id="email" name="email" required><br>

            <label>Are you a user?</label><br>
            <input type="radio" id="yes" name="is_user" value="yes" required>
            <label for="yes">Yes</label>
            
            <input type="radio" id="no" name="is_user" value="no">
            <label for="no">No</label><br>

            <input type="submit" value="Sign Up">
        </form>
    </div>
</body>
</html>
