{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="{% static 'Css/adminSign-in.css' %}">
</head>
<body>
    <div class="form">
        <img src="{% static 'images/admin.jpg' %}" alt="chef">
        <form id="loginForm">
            <label for="username">Username</label><br>
            <input type="text" id="username" name="username"><br>
            <label for="password">Password</label><br>
            <input type="password" id="password" name="password"><br>
            <input type="submit" value="Login">
        </form>
        <div>
            Do Not Have An Account? <a href="{% url 'adminSignup' %}">Sign-Up</a>
        </div>
    </div>

    <script src="{% static 'Js/adminSign-in.js' %}"></script>
</body>
</html>
